body {
    overflow: hidden;
    
}

.menuprincipal{
    color: red;
    position: fixed;
    top: 80px;
    left: 40%;
    background-color: black;
    right: 100px;
}

.frase{
    color: white;
    position: relative;
    top: 160px;
    left: 35px;
}





































